@page
@model CapstoneProjectRegister.Web.Pages.SemesterManagement.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Code
            </th>
            <th>
                StartDate
            </th>
            <th>
                EndDate
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Semester) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
                    @if (item.Status.Equals(true))
                    {
                        <td>Active</td>
                    }
                    else
                    {
                        <td>Inactivity</td>
                    }
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
                </td>
        </tr>
}
    </tbody>
</table>
