@page
@model CapstoneProjectRegister.Web.AdminPages.IndexModel
@{
    ViewData["Title"] = "Admin page";
}
<div>
    <a asp-page="/SemesterManagement/Index">Semester Management</a>
    </br>
    <a asp-page="/GroupProjectManagement/Index">Group Management</a>
    </br>
    <a asp-page="/StudentManagement/Index">Student Management</a>
</div>
